@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}
body {
  font-family: "Open Sans", "Helvetica Neue", "Verdana", sans-serif;
}

.font-sans {
  font-family: "Open Sans", "Helvetica Neue", "Verdana", sans-serif;
}
.container {
  max-width: 1280px;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.custom-button {
  border: 2px solid black;
  height: 50px;
  width: 150px;
  background-color: transparent;
  border-radius: 20px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.custom-button.hovered {
  background-color: #e8c463;
  border: none;
  color:white;
  font-weight: 600;

}
.homeHero {
  position: relative;
  width: 100%;
  height: 100vh; /* Adjust height as needed */
  background-image: url('https://i.ytimg.com/vi/MDG78NWxIk0/maxresdefault.jpg');
  background-size: cover;
  background-position: center;
}
.bottomHero{
  position: relative;
  width: 100%;
  height: 100vh; /* Adjust height as needed */
  background-image: url('https://i.ytimg.com/vi/MDG78NWxIk0/maxresdefault.jpg');
  background-size: cover;
  background-position: center;
}
.productHero{
  position: relative;
  width: 100%;
  height: 70vh; /* Adjust height as needed */
  background-image: url('https://i.ytimg.com/vi/MDG78NWxIk0/maxresdefault.jpg');
  background-size: cover;
  background-position: center;
}
.aboutHero{
  position: relative;
  width: 100%;
  height: 70vh; /* Adjust height as needed */
  background-image: url('https://i.ytimg.com/vi/MDG78NWxIk0/maxresdefault.jpg');
  background-size: cover;
  background-position: center;
}
.overlay {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white; /* Text color */
  text-align: center;
}
